body
  background-image: url('../img/background.jpg') !important
  background-size: cover !important

.todo-list
  display: inline-block

  width: 272px
  // Temporary
  margin: 40px 0 0 0

  cursor: pointer

  border-radius: 3px
  background-color: rgb(223, 225, 230)

  .activator
    display: none

    width: 100%
    padding: 8px 10px

    color: hsla(0, 0%, 100%, .8)
    .icon
      display: inline-block
    .text
      display: inline-block

  .header
    padding: 4px 4px 10px 18px
    h2
      display: inline-block

      margin: 0
      padding-top: 6px

      color: #172b4d

      font-size: 15px

  .extras
    float: right

    padding: 5px 10px 8px 10px

    color: #6b778c
    border-radius: 3px
    i
      margin: 0
    &:hover
      color: #172b4d
      background-color: rgba(9,30,66,.13)

.composer
  .activator
    display: block
    color: #6b778c
    border-bottom-right-radius: 3px
    border-bottom-left-radius: 3px

    span:hover
      text-decoration: underline

    &:hover
      color: #172b4d
      background-color: rgba(9,30,66,.13)

.task
  padding: 8px 10px

.task-text-wrapper
  margin-bottom: 8px
  padding: 6px 8px 2px

  cursor: pointer

  border-radius: 3px
  background-color: #fff
  box-shadow: 0 1px 0 rgba(9,30,66,.25)

.task-text
  overflow: hidden

  width: 240px
  height: 54px
  padding: 0

  resize: none

  border: none
  outline: none
  background: none
  box-shadow: none

  overflow-wrap: break-word

.submit
  .ellipsis.horizontal.icon
    float: right
    margin-top: 8px

.form
  padding: 4px

  color: hsla(0, 0%, 100%, .8)

  .submit
    display: inline-block

    margin: 4px 0 0 0

  .close
    display: inline-block

.todo-list.creator.idle
  background-color: rgba(0, 0, 0, .24)

.todo-list.creator.idle:hover
  background-color: rgba(0, 0, 0, .32)

.todo-list.creator.idle .form
  display: none

.todo-list.creator.idle .activator
  display: block
